<ol class="publication-list">
<li><p><strong>SynLogic: Synthesizing Verifiable Reasoning Data at Scale for Learning Logical Reasoning and Beyond</strong><br>
<strong>Junteng Liu</strong>, Yuanxiang Fan, Zhuo Jiang, Han Ding, Yongyi Hu, Chi Zhang, Yiqi Shi, Shitong Weng, Aili Chen, Shiqi Chen, Yunan Huang, Mozhi Zhang, Pengyu Zhao, Junjie Yan, Junxian He.<br><em>arXiv, 2025.</em></p></li>
<li><p><strong>On the Perception Bottleneck of VLMs for Chart Understanding</strong><br>
<strong>Junteng Liu</strong>, Weihao Zeng, Xiwen Zhang, Yijun Wang, Zifei Shan, Junxian He.<br><em>arXiv, 2025.</em></p></li>
<li><p><strong>On the Universal Truthfulness Hyperplane Inside LLMs</strong><br>
<strong>Junteng Liu</strong>, Shiqi Chen, Yu Cheng, Junxian He.<br><em>EMNLP, 2024.</em></p></li>
<li><p><strong>In-Context Sharpness as Alerts: An Inner Representation Perspective for Hallucination Mitigation</strong><br>
Shiqi Chen, Miao Xiong, <strong>Junteng Liu</strong>, Zhengxuan Wu, Teng Xiao, Siyang Gao, Junxian He.<br><em>ICML, 2024.</em></p></li>
<li><p><strong>C-Eval: A Multi-Level Multi-Discipline Chinese Evaluation Suite for Foundation Models</strong><br>
Yuzhen Huang, Yuzhuo Bai, Zhihao Zhu, Junlei Zhang, Jinghan Zhang, Tangjun Su, <strong>Junteng Liu</strong>, Chuancheng Lv, Yikai Zhang, Jiayi Lei, Yao Fu, Maosong Sun, Junxian He.<br><em>NeurIPS, 2023.</em></p></li>
<li><p><strong>Composing Parameter-Efficient Modules with Arithmetic Operations</strong><br>
Jinghan Zhang, Shiqi Chen, <strong>Junteng Liu</strong>, Junxian He.<br><em>NeurIPS, 2023.</em></p></li>
</ol>
